 body {
            background-color: black;
        }

        #header {
            height: 80px;
            background-color: hsl(0, 0%, 18.82%);
            width: auto;
            margin-top: -9px;
        }

        #image>img {
            height: 40px;
            width: 140px;
            margin-top: 20px;
            margin-left: 50px;
        }

        #searches {
            margin-left: 300px;
            margin-top: -40px;
            display: flex;
            justify-content: space-evenly;
        }

        #searches>input {
            height: 30px;
            width: 500px;
            background-color: black;
            border-style: none;
            font-size: large;
            font-family: sans-serif;
            border-radius: 7px;
            color: floralwhite;
        }

        #searches>button {
            height: 30px;
            width: 80px auto;
            background-color: black;
            border-style: none;
            font-weight: bolder;
            font-size: medium;
            font-family: sans-serif;
            color: floralwhite;
            border-radius: 7px;
        }

        #right {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: space-between;
        }

        #left {
            display: grid;
            grid-template-rows: repeat(24, 1fr);
            width: 230px;
            height: 600px;
            overflow: scroll;
            grid-row-gap: 20px;
            background-color: hsl(0, 0%, 18.82%);
        }

        .menu {
            font-size: large;
            font-family: sans-serif;
            color: floralwhite;
            text-align: center;
            display: inline-block;
        }

        #more {
            color: gray;
            font-family: sans-serif;
            font-size: medium;
            font-weight: bolder;
            text-align: center;
        }

        #yttVideos>div>p {
            width: 315px;
            font-family: sans-serif;
            color: floralwhite;
        }

        #yttVideos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 30px;
            background-color: black;
        }

        .menu:hover {
            box-shadow: 10px 5px 5px floralwhite;
        }

        #signup a {
            text-decoration: none;
            list-style-type: none;
            font-size: large;
            font-family: sans-serif;
            color: floralwhite;
        }

        #signin a {
            text-decoration: none;
            list-style-type: none;
            font-size: large;
            font-family: sans-serif;
            color: floralwhite;
        }

        #greet {
            font-size: large;
            font-family: sans-serif;
            color: floralwhite;
        }